.my-head-area {
  background-color: #4f565e;
  width: 100%;
  margin: 0px;
  padding: 18px;
}

.my-card {
  border: 2px solid;
  border-color: #e7edf3;
  border-radius: 16px;
  transition: 0.4s;
  padding: 22px;
  min-width: 280px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.my-card:hover {
  border-color: #7cb2f1;
}

.btn-twitter {
  background-color: #039be5;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
  margin: auto 9px;
}

.btn-twitter:hover {
  background-color: #0388ca;
}

.input-field {
  font-family: "Nunito", sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 80%;
  padding: 10px;
  font-weight: 500;
  box-shadow: 2px 2px 2px black;
}
.input-label {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  padding: 10px 30px;
}
